body{
    background:#f9f4f9;
    color: rgb(0, 0, 0);
}


.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    gap: 2rem;
    box-sizing: border-box;
    margin: 1.5rem;
}
.header-article{
    margin-left: 20px;
    margin-top: 200px;
    font-size: 3.8vw;
    font-family: open-sans;
    font-weight: 600;
    font-style: italic;
}

.article-animation{
    overflow: hidden;
    white-space: nowrap;
    animation: headerarticle 10s forwards;
    border-right: .15em white;
    animation-iteration-count: infinite;
}

.header-image{
    margin-top: 120px;
    margin-right: auto;
    
}
.header-image img{
    
    transition: all 500ms;
    box-sizing: border-box;
    width: 100%;
    
}

.header-image img:hover{
transform: scale(1.15) rotate(20deg);

}
@keyframes headerarticle {
    from { width: 0 }
    to { width: 100% }
  }


 li {
    color:red;
  }


  /*      styling dashboard.html         */

.dashboard-items{
    background:red;
  }





