{% extends "index.html" %}
{% load static %}


<link rel="stylesheet" href ="{% static 'css/styles.css' %}"/>
{% block title %}Dashboard{% endblock %}


{% block content %}
{% include 'messages.html' %}

<div class="card text-center h2">
   <div class="card-body">
     Dashboard
   </div>
 </div>

 
<div class="row">
   {% for link in urls %}
   <div class="col-sm-6">
     <div class="card" style="background:#F0EAD6;margin:0.2rem;">
       <div class="card-body">
         <h5 class="card-title">Link Number:{{ link.id}}</h5>
         <p class="card-text">Tall Link:{{ link.userLink}}</p>
         <p class="card-text">Short Link:{{ link.uuid}}</p>
         <a href="{{ link.userLink}}" target=”_blank” class="btn btn-primary">Visit Website</a>
       </div>
     </div>
   </div>
   {% endfor %}
 </div>

{% endblock %}